/* paragraph styling*/
h5 {
    color: brown;
    text-align: center;
}

div h2 {
    color: green;
}

.author {
    color: red;
}
#ewater {
    color: blueviolet;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    font-style: italic;
    font-weight: 100px;
    color: rgb(77, 34, 355);
}

a {
    text-decoration: none;
}